@import "variables";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: var(--theme__font);
    font-size: var(--theme__size);
    max-height: 100vh;
}

#app .content {
    min-height: 100vh;
}

#app .ghost {
    opacity: 0.6; 
    background-color: var(--very__light__gray); 
    border: 2px dashed var(--very__dark__grayish__blue);
}

#app .content .content__todo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#app .content .content__todo .text {
    margin-top: 40px;
}

#app .content .content__todo .text p {
    color: var(--dark__grayish__blue);
    font-size: 14px;
}

#app .content .content__todo .todos {
    width: 50%;
    margin-top: 70px;
}

#app .content .content__todo .todos .headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

#app .content .content__todo .todos .headline .title span {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 12px;
    color: var(--very__light__gray);
}

#app .content .content__todo .todos .headline .theme__button button {
    background: transparent;
    border: none;
    padding: 0;
}

#app .content .content__todo .todos form {
    margin-bottom: 20px;
}

#app .content .content__todo .todos form .field .control input[type=text] {
    width: 100%;
    height: 63px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0px 15px;
}

#app .content .content__todo .todos .todos__item .card {
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 17px 20px;
    border: 0;
}

#app .content .content__todo .todos .todos__item .card .card-content .media {
    display: flex;
    align-items: center;
    gap: 20px;
}

#app .content .content__todo .todos .todos__item .card .card-content .media .media-left {
    line-height: 0;
}

#app .content .content__todo .todos .todos__item .card .card-content .media .media-left input {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: solid 1px var(--dark__grayish__blue);
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

#app .content .content__todo .todos .todos__item .card .card-content .media .media-left input.done {
    background-image: url(/public/images/icon-check.svg), var(--check__background);
    background-repeat: no-repeat;
    background-position: center;
    border-color: var(--light__grayish__blue);
}

#app .content .content__todo .todos .todos__item .card .card-content .media .media-content .title {
    margin-bottom: 0;
    cursor: pointer;
}

#app .content .content__todo .todos .todos__item .card .card-content .media .media-content .title.done {
    text-decoration: line-through;
    color: var(--dark__grayish__blue);
}

#app .content .content__todo .todos .todos__item .card .card-content .media .media-content .subtitle {
    display: none;
}

#app .content .content__todo .todos .todos__item .card .delete {
    background-color: transparent;
    border: 0;
    outline: 0;
    line-height: 0;
    display: none;
}

#app .content .content__todo .todos .todos__item .card:hover .delete {
    display: block;
}

#app .content .content__todo .todos .todos__item .card .delete .icon__delete::before {
    content: url(/public/images/icon-cross.svg);
}

#app .content .content__todo .todos .todos__item:first-child .card {
    border-radius: 5px 5px 0px 0px;
}

#app .content .content__todo .todos__shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}

#app .content .content__todo .todos__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 0px 0px 5px 5px;
}

#app .content .content__todo .todos__button div {
    flex-basis: 170px;
}

#app .content .content__todo .todos__button .remaining-items {
    color: var(--dark__grayish__blue);
    font-size: 14px;
}

#app .content .content__todo .todos__button .filters button {
    background-color: transparent;
    font-size: 14px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 3px 5px;
    color: var(--dark__grayish__blue);
}

#app .content .content__todo .todos__button .filters button.active {
    color: var(--bright__blue);
}

#app .content .content__todo .todos__button .filters button.active:hover {
    color: var(--bright__blue);
}

#app .content .content__todo .todos__button .clear {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#app .content .content__todo .todos__button .clear button {
    background-color: transparent;
    font-size: 14px;
    outline: none;
    border: none;
    color: var(--dark__grayish__blue);
}

#app .content .content__todo .m__todos__button {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 0px 0px 5px 5px;
}

#app .content .content__todo .m__todos__button div {
    flex-basis: 170px;
}

#app .content .content__todo .m__todos__button .remaining-items {
    color: var(--dark__grayish__blue);
    font-size: 14px;
}

#app .content .content__todo .m__todos__button .clear {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#app .content .content__todo .m__todos__button .clear button {
    background-color: transparent;
    font-size: 14px;
    outline: none;
    border: none;
    color: var(--dark__grayish__blue);
}

/*DarkTheme*/
#app .dark-mode {
    background-image: url(/public/images/bg-desktop-dark.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 290px;
    background-color: var(--very__dark__blue);
    color: var(--light__grayish__blue);
}

#app .dark-mode .content__todo .todos .headline .theme__button button .theme__icon::before {
    content: url(/public/images/icon-sun.svg);
}

#app .dark-mode .content__todo .todos form .field .control input[type=text] {
    background-color: var(--very__dark__desaturated__blue);
    color: var(--light__grayish__blue);
}

#app .dark-mode .content__todo .todos form .field .control input[type=text]::placeholder {
    color: var(--light__grayish__blue);
}

#app .dark-mode .content__todo .todos .todos__item .card {
    background-color: var(--very__dark__desaturated__blue);
    color: var(--light__grayish__blue);
    border-bottom: solid 1px var(--dark__grayish__blue);
}

#app .dark-mode .content__todo .todos__button {
    background-color: var(--very__dark__desaturated__blue);
}

#app .dark-mode .content__todo .m__todos__button {
    background-color: var(--very__dark__desaturated__blue);
}

#app .dark-mode .content__todo .todos__button .filters button:hover {
    color: var(--light__grayish__blue);
}

#app .dark-mode .content__todo .todos__button .clear button:hover {
    color: var(--light__grayish__blue);
}
/*DarkTheme*/

/*LightTheme*/
#app .light-mode {
    background-image: url(/public/images/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 290px;
    background-color: var(--very__light__grayish__blue);
    color: var(--very__dark__grayish__blue);
}

#app .light-mode .content__todo .todos .headline .theme__button button .theme__icon::before {
    content: url(/public/images/icon-moon.svg);
}

#app .light-mode .content__todo .todos form .field .control input[type=text] {
    background-color: var(--very__light__gray);
    color: var(--very__dark__grayish__blue);
}

#app .light-mode .content__todo .todos form .field .control input[type=text]::placeholder {
    color: var(--very__dark__grayish__blue);
}

#app .light-mode .content__todo .todos .todos__item .card {
    background-color: var(--very__light__gray);
    color: var(--very__dark__grayish__blue);
    border-bottom: solid 1px var(--light__grayish__blue);
}

#app .light-mode .content__todo .todos__button {
    background-color: var(--very__light__gray);
}

#app .light-mode .content__todo .m__todos__button {
    background-color: var(--very__light__gray);
}

#app .light-mode .content__todo .todos__button .filters button:hover {
    color: var(--very__dark__grayish__blue);
}

#app .light-mode .content__todo .todos__button .clear button:hover {
    color: var(--very__dark__grayish__blue);
}
/*LightTheme*/

@media screen and (min-width: 992px) and (max-width:1199px) {
    #app .dark-mode {
        background-size: 100% 230px;
    }

    #app .light-mode {
        background-size: 100% 230px;
    }

    #app .content .content__todo .todos {
        width: 60%;
        margin-top: 40px;
    }

    #app .content .content__todo .todos .headline {
        margin-bottom: 10px;
    }

    #app .content .content__todo .todos .headline .title span {
        font-size: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width:991px) {
    #app .dark-mode {
        background-size: 100% 220px;
    }

    #app .light-mode {
        background-size: 100% 220px;
    }

    #app .content .content__todo .todos {
        width: 80%;
        margin-top: 30px;
    }

    #app .content .content__todo .todos .headline {
        margin-bottom: 10px;
    }

    #app .content .content__todo .todos .headline .title span {
        font-size: 30px;
    }
}

@media screen and (min-width: 576px) and (max-width:767px) {
    #app .content .content__todo .todos {
        width: 100%;
    }

    #app .content .content__todo .todos__button .filters button {
        margin-right: 0px;
    }

    /*DarkTheme*/
    #app .dark-mode {
        background-image: url(/public/images/bg-mobile-dark.jpg);
        background-size: 100% 285px;
    }
    /*DarkTheme*/   
    
    /*LightTheme*/
    #app .light-mode {
        background-image: url(/public/images/bg-mobile-light.jpg);
        background-size: 100% 285px;
    }
    /*LightTheme*/
}

@media (max-width: 575px) {
    #app .content .content__todo .todos {
        width: 100%;
        margin-top: 45px;
        padding: 0px 10px;
    }

    #app .content .content__todo .todos .headline .title span {
        font-size: 30px;
    }

    #app .content .content__todo .todos__button div {
        flex-basis: 215px;
    }

    #app .content .content__todo .todos__button .filters button {
        margin-right: 10px;
        margin-left: 10px;
    }

    #app .content .content__todo .todos__button {
        justify-content: center;
        margin-top: 20px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    #app .content .content__todo .todos__button .remaining-items {
        display: none;
    }

    #app .content .content__todo .todos__button .clear {
        display: none;
    }

    #app .content .content__todo .todos__shadow {
        box-shadow: none;
    }

    #app .content .content__todo .m__todos__button {
        display: flex;
    }

    #app .content .content__todo .m__todos__button {
        justify-content: center;
        border-radius: 0px 0px 5px 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 17px 20px;
    }

    #app .content .content__todo .todos .todos__item .card .delete {
        display: block;
    }

    /*DarkTheme*/
    #app .dark-mode {
        background-image: url(/public/images/bg-mobile-dark.jpg);
        background-size: contain;
    }
    /*DarkTheme*/

    /*LightTheme*/
    #app .light-mode {
        background-image: url(/public/images/bg-mobile-light.jpg);
        background-size: contain;
    }
    /*LightTheme*/    
}