@import "variables";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: var(--theme__font);
    font-size: var(--theme__size);
    max-height: 100vh;
}

#app .content {
    min-height: 100vh;
}

/*DarkTheme*/
#app .dark-mode {
    background-image: url(/public/images/bg-desktop-dark.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-color: var(--very__dark__blue);
    color: var(--light__grayish__blue);
}
/*DarkTheme*/

/*LightTheme*/

/*LightTheme*/



.cursor {
    cursor: pointer;
}

.done {
    text-decoration: line-through;
}

.light-mode {
    background-color: #fff;
    color: #333;
}

.remaining-items {
    margin-top: 10px;
    color: #888;
    font-size: 14px;
}

.filters {
    margin-top: 10px;
}

.filters button {
    margin-right: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 3px 5px;
}

.filters button.active {
    background-color: #f0f0f0;
    border-radius: 4px;
}